.jumbotorn
  .display-4
    What do you wanna leran today?

  .p-4 

  .form-inline.my-2.my-lg-0
    = form_tag(courses_path, method: :get) do
      .input-group
        = text_field_tag :title, params[:title], autocomplete: 'off', placeholder: "Search", class: 'form-control-sm'
        %div.input-group-append
          %button.btn.btn-primary{:type => "submit"}
            %i.fa.fa-search{"aria-hidden" => "true"}
%br/
%hr
.card-group
  .card.card-body
    %h1
      .fa.fa-graduation-cap
    = Course.count
    online courses
    .row
    Explore a variety of fresh topics
  .card.card-body
    %h1
      .fa.fa-chalkboard-teacher
      /.fa.fa-brain
    = Course.distinct.count(:user_id)
    expert instructors
    .row
    Find the right instructor for you
  .card.card-body
    %h1
      .fa.fa-user-graduate
    = User.count
    active learners
    .row
    Join the knowledge sharing community
  .card.card-body
    %h1
      .fa.fa-infinity
    Lifetime access
    .row
    Learn on your schedule

%hr
%h2
  Popuar Courses 
.row
  - @courses.each do |course|
    = render 'courses/course', course: course
%hr 
%h2
  Top Rated Courses 
.row
  - @courses.each do |course|
    = render 'courses/course', course: course
%hr
%h2
  Latest Courses
.row 
  - @latest_courses .each do |course|
    = render 'courses/course', course: course
%hr